.btnDisable{
    cursor: default;
    opacity: 0;
    pointer-events: none;
}

.btnDisableAdd{
    background: $RED-AE;
}

.btnDisableAdd::before{
    content: 'усе !';
    position: absolute;
    display: block;
    background: $RED-AE;
    z-index: 20;
    top: 0;

    cursor: default;

    width: 280px;

    padding: 12px 0 22px;

    border: none;
    outline: none;

    font-size: 12px;
    line-height: 14px;
    text-align: center;

    text-transform: uppercase;

    border-radius: 29.5px;
}
